* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
  text-decoration: none;
  list-style: none;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

nav {
  background-color: black;
}

nav ul {
  display: flex;
  justify-content: center;
  padding-top: 2em;
  padding-bottom: 2em;
}

nav li {
  display: inline;
  margin-right: 3em;
  margin-left: 3em;
  font-size: 25px;
}

nav a {
  position: relative;
  color: white;
}

.nav-link:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  bottom: -2px;
  left: 0;
  background-color: white;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

li.active .nav-link:before,
.nav-link:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(2);
  transform: scaleX(2);
}
.hamburger {
  display: none;
}
.about {
  background-color: black;
}
.logo {
  padding-top: 7em;
  width: 25%;
  height: 25%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.intro {
  padding-top: 1em;
  margin-left: 1em;
  margin-right: 1em;
  color: white;
  text-align: center;
  font-size: 4em;
}

.author-style {
  padding-top: 1em;
  margin-left: 1em;
  margin-right: 1em;
  padding-bottom: 2em;
  color: white;
  font-size: 3em;
  display: flex;
  justify-content: center;
}

.line {
  background-color: white;
  content: "";
  width: 10%;
  height: 1px;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 1em;
  margin-right: 1em;
}

.row,
.row2 {
  background-color: white;
  display: flex;
  padding-top: 5em;
}

.row2 {
  flex-direction: row-reverse;
}

.column1,
.column2,
.column3,
.column4 {
  flex: 50%;
}
.column1 img,
.column3 img {
  height: 95%;
  width: 75%;
  margin-top: 1.5em;
  margin-left: 7em;
}

.column2,
.column4 {
  text-align: center;
}

.column2 h1,
.column4 h1 {
  font-size: 3em;
}

.column2 p,
.column4 p {
  font-size: 2em;
  padding-top: 1em;
  margin-left: 3em;
  margin-right: 3em;
  text-decoration-line: underline;
}

.models {
  background-color: black;
}
.models h1 {
  color: white;
  padding-top: 3em;
  padding-bottom: 1em;
  padding-left: 2em;
  font-size: 2em;
}

.models-cotainer {
  display: grid;
  grid-template-columns: auto auto auto;
}

.model-item img {
  width: 100%;
  height: 100%;
}

@media (max-width: 1180px) {
  .column1 img,
  .column3 img {
    height: 85%;
    width: 75%;
  }
}

@media (max-width: 920px) {
  .column1 img,
  .column3 img {
    height: 75%;
    width: 75%;
    margin-left: 5em;
    margin-right: 5em;
  }
}
@media (max-width: 826px) {
  nav {
    padding-top: 2em;
    padding-bottom: 2em;
  }

  .row {
    display: block;
  }

  .row2 {
    display: block;
  }

  nav ul {
    display: none;
  }

  nav li {
    display: block;
    margin-top: 50px;
  }

  span {
    margin-left: 2em;
  }

  .item-menu-show {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 80px;
    left: 0;
    text-align: center;
    display: block;
  }

  .resize {
    width: 100%;
    height: 100vh;
  }

  .hamburger {
    display: inline;
  }

  .hamburger img {
    width: 1.7em;
    height: 1.3em;
  }

  .line {
    display: none;
  }

  .intro {
    padding-top: 1em;
    margin-left: 1em;
    margin-right: 1em;
    color: white;
    text-align: center;
    font-size: 2em;
  }

  .author {
    font-size: 0.6em;
    margin-left: 0;
    margin-right: 0;
  }
}
